<table border="0" cellpadding="0" cellspacing="0" class="body">
  <tr>
    <td>&nbsp;</td>
    <td class="container">
      <div class="content">

        <!-- START CENTERED WHITE CONTAINER -->
        <span class="preheader">Réinitialiser votre mot de passe</span>
        <table class="main">

          <!-- START MAIN CONTENT AREA -->
          <tr>
            <td class="wrapper">
              <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td>

                    <a href="http://koaboiler.com" title="" class="" target="_blank" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                            <img align="center" alt="" src="{{logoUrl}}" width="155" style="max-width: 155px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" class="mcnImage">
                        </a>

                    <p>Bonjour {{ firstName }}</p>
                    <p>Vous venez d'effectuer une demande de réinitialisation de votre mot de passe.</p>
                    <p>Si vous n'avez pas affectué cette requête, ignorer cet email.</p>
                    <p>Dans le cas contraire, cliquez sur le lien suivant pour changer de mot de passe</p>
                    <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                      <tbody>
                        <tr>
                          <td align="left">
                            <table border="0" cellpadding="0" cellspacing="0">
                              <tbody>
                                <tr>
                                  <td> <a href="{{resetUrl}}" target="_blank">Réinitialize mon mot de passe</a> </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <p>Ce lien sera actif durant {{expiration}} heures.</p>
                    <p>Merci d'utiliser Koa api boilerplate.</p>
                    <p>Nathan</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <!-- END MAIN CONTENT AREA -->
        </table>

        <!-- START FOOTER -->
        <div class="footer">
          <table border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td class="content-block">
                <span class="apple-link">Copyright © 2016 Koa api boilerplate, All rights reserved. </span>
              </td>
            </tr>
          </table>
        </div>

        <!-- END FOOTER -->

        <!-- END CENTERED WHITE CONTAINER -->
      </div>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>