{
    "parser": "babel-eslint",
    "extends": "standard",
    "main": "src",
    "env": {
        "node": true,
        "mocha": true
    },
    "rules": {
        "indent": [
            2,
            4,
            {
                "SwitchCase": 1
            }
        ],
        "comma-dangle": ["error", "always"]
    }
}
